// @import"/src/style/about.scss";
@import"/src/style/btn.scss";
@import"/src/style/card.scss";
@import"/src/style/contect.scss";
@import"/src/style/footer.scss";
@import"/src/style/Form.scss";
@import"/src/style/header.scss";
@import"/src/style/hero.scss";
@import"/src/style/imgFlip.scss";
@import"/src/style/SkillCard.scss";
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Fira+Sans:wght@500&family=Lilita+One&family=Montserrat:wght@900&family=Playfair+Display+SC:wght@700&family=Playfair+Display:ital@1&family=Poppins:ital,wght@0,400;0,500;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Jost', sans-serif;
}
::selection{
  background-color: rgb(12, 11, 11);
  color: white;
}

html,body{
  width: 100%;
height: 100%;
background-color: #1B1B1B;
}

.main{
 width: 100%;

}

      // SCROLL BUTTON STYLE 
.to-top-btn{
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 10px;
  bottom: 30px;
  right: 46%;
  transform: translate(-50% -50%);
  z-index: 10;
    font-size: 35px;
    color: white;
    font-weight: 100;
  opacity: 0;
  transition: .5s ease-in-out;
  animation: uper-niche 1s alternate infinite;
  cursor: pointer;
}
.to-top-btn h1{
  font-size: 18px;
  font-weight: 100;
}

.to-top-btn.active{
  bottom: 32px;
  opacity: 1;
  /* background-color: aquamarine; */
  pointer-events: auto;
 
}
@keyframes uper-niche {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(15px);
  }
}

  // SCROLL BUTTON STYLE END

  @media only screen and (max-width: 500px){
    .to-top-btn{
      font-size: 25px;
     
  right: 40%;
    }
    
  }

