.btn {
  border: 1px solid #3c6f91;
  padding: 10px 50px;
  border-radius: 15px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
  background: transparent;
  transition: 0.3s;
  text-decoration: none;
}

.btn:hover {
  background-color: #3c6f91;
  border: white;
  color: wheat;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.415);
}
