.btn {
  padding: 10px 50px;
  border-radius: 15px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
  background: transparent;
  transition: 0.3s;
  text-decoration: none;
  background-color:var(--color);
}

.btn:hover {
  background-color:var(--bgcolor);
  
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.415);
}
