.cards {
  margin-top: 130px;

}

.card {
  width: 400px;
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  

}
.card:hover{
  transform: translateY(-15px);
}
.card video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.card-info {
  padding: 20px 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color:rgba(0, 0, 0, 0.677);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 160px;
  animation: cardanim ease-in 1.2s;
  color: white;

}

@keyframes cardanim {

  0%{
    transform: translateY(100%);
    opacity: 0;
   
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  
  }
  
}


.card-info p {
  margin-bottom: 15px;
}

.card-info a {
  text-decoration: none;
  border: 1px solid #5487a9;
  padding: 5px 20px;
  margin-top: 50px;
  color: white;
  border-radius: 10px;
  font-size: 13px;
  transition: all ease .3s;
}

.card-info a:hover{
  background-color:  #5487a9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.761);
}


@media only screen and (max-width: 500px){
  .card {
    width: 350px;

    
  
  }
}