nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 150px;
  position: absolute;
  z-index: 10;
}
.ThemChanger{
  // width: 30%;
padding-top: 8px;
  text-align: right;
  display: inline-block;


}


.logo {
  color: white;
  font-size: 25px;
  font-weight: 600;
}
.logo span {
  color: var(--color);
}

.nav-list ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-list ul a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  position: relative;
}

// ===============================mobile navigation ==========

nav a:hover {
  color: var(--color);
}

.nav-list ul a::after {
  content: "";
  position: absolute;
  background-color: var(--color);
  width: 0;
  height: 2px;
  left: 0;
  bottom: -3px;
  transition: 0.3s;
}
.nav-list ul a:hover::after {
  width: 100%;
}

.menu-i {
  z-index: 999;
  color: white;
  font-size: 35px;
  cursor: pointer;
  display: none;

}



@media (max-width: 1150px) {
  nav {
    // background-color: aqua;
    padding: 15px 30px;
  }

 
  .nav-list ul {
    display: none;
  }
  .menu-i {
    border-radius: 50%;
    // font-size: 30px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-mobile ul {
    list-style: none;
    background-color: var(--color);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    gap: 30px;
    border-bottom: 1px solid white;
    box-shadow: 1px 30px 30px black;
  }

  .nav-mobile ul a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 15px;

  }
}
