nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    // background-color: aqua;
    padding: 10px 150px;
    position: absolute;
    z-index: 10;
}
.logo{
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.nav-list ul {
    list-style: none;
    display: flex;
    align-items: center;
   gap: 50px;
}

.nav-list ul a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    position: relative;
}

// mobile navigation ==========


nav a:hover{
color:#A5355A;

}

.nav-list ul a::after{
    content: "";
    position: absolute;
    background-color: #A5355A;
    width: 0;
    height: 2px;
    left: 0;
    bottom:  -3px;
    transition: .3s;

}
.nav-list ul a:hover::after{
    width: 100%;
  
   
}


.menu-i{
    z-index: 999;
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

@media(max-width:1150px){


    nav{
        // background-color: aqua;
        padding: 10px 50px;
       
    }

    .nav-list ul {
     display: none;
    }
    .menu-i{
      
        font-size: 30px;
        display: block;
    }

    .nav-mobile ul{
        list-style: none;
        background-color:#3E4555;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        gap: 30px;
        border-bottom: 1px solid white;
        box-shadow:1px 30px 30px black;
    }
    
    .nav-mobile ul a{
        text-decoration: none;
        color: white;
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
        margin-top: 10px;
    }

    .nav-mobile a:hover{
        color:#A5355A;
        
        }
        
      

    
}