.project{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #2B2D33;
    padding: 50px 0;
    position: relative;
}

.project_heading{
    position: absolute;
    top: 70px;
    left: 45%;
    text-transform: uppercase;
    color: white;

}